@import "./raleway.css";
@import "./roboto.css";

body {
  font-family: "Roboto", sans-serif !important;
  // font-family: "raleway", sans-serif !important;
}

.numFont {
  font-family: arial, sans-serif !important;
}

/* needed for booking element popout window */
nav {
  z-index: 1;
}

@media (min-width: 576px) {
  /* needed for checkout window */
  .rounded-md {
    border-radius: 0.375rem !important;
  }

  /* fix for stripe payment element wrapper */
  .stripeFormFix {
    min-width: 479.99px;
  }
}

@media (max-width: 576px) {
  .maxHeightOnPhone {
    height: 100vh;
  }
  .maxWidthOnPhone {
    width: 100%;
  }

  .btn:not(.keepBtnShortOnPhone) {
    width: 100%;
  }
}

@import "~bootstrap/scss/bootstrap.scss";
